*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 120px;
    background-color: aqua;
    background-image: url(../img/pattern.png);
    background-size: cover;
    /* border: 1px solid black; */
    margin-bottom: 10px;
}

.author{
    color:grey;
}

.blog-name{
    color:lightskyblue;
}

.date{
    font-size:15px ;
}






