*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin-bottom: 10px;
}
header{
    height: 120px;
    background-color: aqua;
    background-image: url(../img/pattern.png);
    background-size: cover;
    /* border: 1px solid black; */
    margin-bottom: 10px;
}

.logo{
    width: 13%;
    margin-top: 55px;

}

.author{
    color:grey;
}

.blog-name{
    color:lightskyblue;
}

.date{
    font-size:15px ;
}

.important-sentence{
    background-color: yellow;
}

ul{
    margin-top: 10px;
    margin-bottom:10px;
}

table{
    width: 100%;
    height: 200px;
    text-align: left;
    border-collapse: collapse;  /*serve ad eliminare il bordo da una cella all'altra*/
    margin:10px 0 10px 0;

}

thead{
    background-color: blueviolet;
    color: white;
}
.ciano-table-row{
    background-color: lightblue;
}














